#navbar1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}


#navbar1 li {
    list-style: none;
    padding: 0 22px;
    position: relative;
}


#navbar1 li a {
    text-decoration: none;
    font-size: 13px;
    line-height: 42px;
    font-weight: 400;
    color: #231535;
    transition: 0.3s ease-in-out;
}


#navbar1 li a:hover {
    font-weight: 400;
    color: #a674fb;
}


#navbar1 li a:hover::after,
#navbar1 li a:active::after {
    content: "";
    width: 60%;
    height: 2px;
    background-color: #a674fb;
    position: absolute;
    bottom: -4px;
    left: 20px;


}